.footer {
  background: #333;
  margin-top: 160px;
  font-family: "Open Sans";
  @media (max-width: 768px) {
    margin-top: 100px;
  }

  &__wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
    @media (max-width: 768px) {
      gap: 16px;
    }
  }

  &__top {
    display: flex;
    display: flex;
    padding-bottom: 33px;
    border-bottom: 1px solid #ffffff2e;
    width: 100%;
    @media (max-width: 768px) {
      padding-bottom: 16px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 33px;
    border-top: 1px solid #ffffff2e;
    width: 100%;

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.6;

    @media (max-width: 768px) {
      padding-top: 16px;
      font-size: 12px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}

.footer--nomargin {
  margin-top: 0;
}

.content-footer {
  &__services,
  &__home,
  &__help,
  &__contacts,
  &__social {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media (max-width: 768px) {
      row-gap: 10px;
    }
  }

  &__social {
    @media (max-width: 768px) {
      width: 100%;
      align-items: center;
    }
  }
}

.services-footer {
  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-shrink: 0;
  }
  &__link {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    &:hover {
      scale: 1.1;
    }
  }
}

.home-footer {
  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-shrink: 0;
  }
  &__link {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    &:hover {
      scale: 1.1;
    }
  }
}

.help-footer {
  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-shrink: 0;
  }
  &__link {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    &:hover {
      scale: 1.1;
    }
  }
}

.contacts-footer {
  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-shrink: 0;
  }
  &__link {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    transition: 0.3s;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    &:hover {
      scale: 1.1;
    }
  }
}

.social-footer {
  &__nav {
    display: flex;
    column-gap: 20px;
    flex-shrink: 0;
  }
  &__link {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      scale: 1.1;
    }
  }
}

.footer-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px; /* 150% */
  margin: 0;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
